* {
    scrollbar-width: none;
    scroll-behavior: smooth;
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}
body {
    margin: 0;
    --btn-bg:rgba(70,70,70,0.8);
    --accent:rgb(153, 0, 183);
    color:white;
    font-family: "Nunito Sans",sans-serif;
    overflow: hidden;
}
::-webkit-scrollbar {
    display: none;
}
.streetview {
    height: 100dvh;
    width: 100vw;
    background: transparent;
}
iframe.streetview {
    width: calc(100vw + 75px);
    margin-left: -75px;
    transition: 200ms;
}
div.streetview {
    position: relative;
}
div.loading {
    position: absolute;
    top:0;
    left: 0;
    height: 100dvh;
    width: 100vw;
    background:rgb(25,25,25);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:rgb(100,100,100);
    z-index: -1;
}
div.loading span {
    font-size: 25px;
    margin-top: 15px;
    font-weight: 600;
    animation: opac 1s infinite;
}
div.loading i {
    animation: rotate 3s linear infinite;
    font-size: 105px;
}
@keyframes opac {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.settings-legal {
    text-decoration: underline;
    cursor: pointer;
    margin-top:10px;
    margin-left: 5px;
    font-size: 20px;
    transition: 150ms;
    width: fit-content;
}
.settings-legal:hover {
    transform: scale(1.01);
}
.settings-legal:active {
    transform: scale(0.94);
}
.stats-left,.stats-right {
    position: fixed;
    top:0;
    left: 0;
    backdrop-filter: blur(10px);
    width: 175px;
    height: 100px;
    background:var(--btn-bg);
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: 150ms;
    z-index: 50;
    border:rgba(255,255,255,0.2) 1px solid;
}
.stats-left:hover,.stats-right:hover {
    transform: scale(110%);
    left: 7.5px;
    top: 6px;
}
.stats-left:active {
    transform: scale(105%);
    left: 3.75px;
    top: 3px;
    filter: brightness(0.9);
}
.stats-right {
    left: unset;
    right: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0;
}
.stats-right:hover {
    left: unset;
    right: 7.5px;
}
.stats-right:active {
    transform: scale(105%);
    right: 3.75px;
    top: 3px;
    filter: brightness(0.9);
}
.stats-left:hover .descr,.stats-right:hover .descr {
    opacity: 1;
    margin-top: 15px;
}
.descr {
    margin-top: 5px;
    opacity: 0;
    transition: 150ms;
    font-size: 16px;
}
.value {
    font-size: 35px;
    font-style: italic;
    font-weight: 900;
    transition: 100ms;
}
.value i {
    margin-right: -5px;
    font-size: 32px;
}
.map-container {
    position: fixed;
    bottom: 20px;
    right: 65px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.map-container button {
    width: 200px;
    margin-top:10px;
    padding:10px;
    background: var(--accent);
    backdrop-filter: blur(10px);
    color:inherit;
    font-family: inherit;
    font-size: 19px;
    font-weight: 700;
    border:none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    transition: 150ms;
    border:3px solid rgba(255,255,255,0.2);
    font-family: "Roboto Condensed",sans-serif;
    height: 50px;
}
.map-container button:hover {
    transform: scale(1.02);
}
.map-container button:active {
    transform: scale(0.9);
    filter: brightness(0.9);
}
.map-container button.hidden {
    margin-bottom: -50px;
    opacity: 0;
}
.map {
    opacity: 0.6;
    width: 100%;
    height: 100%;
    height: 200px;
    width: 200px;
    transition: 150ms;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.4);
    transform-origin: center;
    transition-delay: 100ms;
}
.map-container.unload .map {
    transition: 0;
}
.map:hover,.map-container.unload .map {
    height: 515px;
    width: 600px;
    opacity: 1;
    transition-delay: 0ms;
}
.options-bottom {
    position: fixed;
    bottom: 20px;
    left: 15px;
    display: flex;
    background:rgba(60,60,60, 0.7);
    border-radius: 15px;
    padding: 10px 0 10px 10px;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
.options-bottom button {
    padding: 10px 15px;
    background:var(--btn-bg);
    border-radius: 10px;
    color:white;
    backdrop-filter: blur(5px);
    cursor: pointer;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    transition: 90ms;
    border:none;
}
.options-bottom button:hover {
    transform: scale(1.02);
}
.options-bottom button:active {
    transform: scale(0.9);
    filter: brightness(0.9);
}
.options-bottom button.active {
    background:var(--accent);
}
.msg-outer,.cookies-outer,.finished-round, .settings, .dashboard {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(3px);
    background:rgba(70,70,70,0.3);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 140ms;
}
.cookies-outer {
    z-index: 100;
}
.msg-outer.hidden,.cookies-outer.hidden,.finished-round.hidden, .settings.hidden, .dashboard.hidden {
    opacity: 0;
}
.msg-outer.hidden .msg,.cookies-outer.hidden .msg,.finished-round.hidden .msg,.settings .msg, .dashboard .msg {
    transform: scale(0.7);
}
.settings.hidden .msg {
    transform: scale(0.5);
}
.msg {
    background:rgba(60,60,60, 0.92);
    box-shadow: 0 0 10px rgb(0,0,0,0.5);
    backdrop-filter: blur(15px);
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    min-width: 50%;
    max-width: 90%;
    transition: 150ms;
}
.msg .title {
    font-weight: 900;
    font-size: 25px;
}
.msg .content {
    margin-top:5px;
    font-size: 18px;
}
.msg button {
    margin-top: 5px;
    margin-left: auto;
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    font-size: 19px;
    background:rgb(40,40,40,0.6);
    border-radius: 15px;
    border:none;
    color:white;
    font-family: inherit;
    cursor: pointer;
    font-weight: 900;
    transition: 80ms;
}
.msg div {
    display: flex;
    width: fit-content;
    margin-left:auto;
}
.cookies-outer .msg button.main {
    background:var(--accent);
    border:2px solid rgba(255,255,255,0.2);
    margin-left: 10px;
}
.cookies-outer .msg button:not(.main) {
    background:transparent;
}
.msg button:hover {
    transform: scale(1.02);
}
.msg button:active {
    transform: scale(0.9);
    filter: brightness(0.9);
}
.msg button i {
    font-size: 18px;
    margin-right: 5px;
}
.solution {
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    z-index: 15;
    background:rgb(50,50,50);
    transition:150ms;
}
.solution.hidden {
    opacity: 0;
}
#solution {
    height: 100dvh;
    width: 100vw;
    z-index: 0;
}
.bottom-controls {
    position: absolute;
    display: flex;
    bottom: 15px;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100vw;
    z-index: 51;
}
.solution-stats {
    width: 500px;
    height: 100px;
    border-radius: 10px;
    background:rgba(70,70,70,0.8);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.solution-stats .text {
    font-family: "Roboto Condensed",sans-serif;
    font-weight: 900;
    font-size: 25px;
    margin-top: 15px;
}
.solution-stats .stats {
    display: flex;
    width: calc(100% - 30px);
    align-items: center;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.solution-stats .stats span {
    width: fit-content;
    margin-right: 10px;
    margin-left: 10px;
    white-space: nowrap;
    font-size: 16px;
}
.solution-stats .stats span span {
    font-weight: 900;
    margin:0;
    font-size: 19px;
}
.solution-stats .stats .progress {
    overflow: hidden;
    background:white;
    height: 25px;
    border-radius: 15px;
    width: calc(100% - 150px);
}
.solution-stats .stats .progress div {
    background:var(--accent);
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: 15px;
}
.solution-stats .stats .progress div::after {
    content:" ";
    margin-top: 3px;
    width: calc(100% - 50px);
    background:rgba(255,255,255,0.1);
    border-radius: 5px;
    height: 5px;
}
.next-btn {
    position: absolute;
    bottom: 15px;
    right: 10px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:10px;
    background: var(--accent);
    backdrop-filter: blur(10px);
    color:inherit;
    font-family: inherit;
    font-size: 19px;
    font-weight: 700;
    border:none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    transition: 150ms;
    border:3px solid rgba(255,255,255,0.2);
    font-family: "Roboto Condensed",sans-serif;
    height: 50px;
    z-index: 52;
}
.next-btn:hover {
    transform: scale(1.02);
}
.next-btn:active {
    transform: scale(0.9);
    filter: brightness(0.9);
}
.error {
    position: fixed;
    width: 100%;
    top: 15px;
    left: 0;
    z-index: 150;
    display: flex;
    justify-content: center;
    transition: 150ms;
}
.changecountry.hidden {
    top:-50px;
    opacity: 0;
}
.changecountry {
    z-index: 105;
    position: fixed;
    left: 0;
    top:15px;
    width: 100vw;
    display: flex;
    justify-content: center;
    transition: 200ms;
    opacity: 1;
}
.changecountry div {
    background:rgba(99, 180, 0, 0.9);
    padding:10px 15px;
    border-radius: 7.5px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 150ms;
}
.changecountry div:hover {
    transform: scale(1.02);
}
.changecountry div:active {
    transform: scale(0.9);
}
.error.hidden {
    opacity: 0;
    top: -10px;
}
.error div {
    padding:10px;
    border-radius: 7.5px;
    background:rgba(208, 156, 0, 0.9);
    cursor:pointer;
    backdrop-filter: blur(5px);
    transition: 150ms;
}
.error div:hover {
    transform: scale(1.02);
}
.error div:active {
    transform: scale(0.9);
    filter:brightness(0.9)
}
.levelBtn {
    font-family: "Roboto Condensed",sans-serif;
    font-weight: 900;
    position: relative;
    overflow: hidden;
}
.levelBtn div {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    background:var(--accent);
    z-index: -1;
}
.round-count {
    position: fixed;
    margin-left: 0;
    top:10px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 48;
    transition: 150ms;
}
.round-count.hidden {
    opacity: 0;
    top: -10px;
}
.round-count div {
    background:var(--btn-bg);
    backdrop-filter: blur(10px);
    padding:10px 15px;
    font-size: 19px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
.round-count span.n  {
    font-weight: 800;
    font-size: 23px;
}
.settings .title {
    font-size: 45px;
    font-family: "Roboto Condensed",sans-serif;
}
.settings button {
    margin-left: unset;
    border:2px solid rgba(255,255,255,0.05);
}
.settings .subtitle {
    font-size: 25px;
    margin-top:5px;
    margin-left: 5px;
}
.settings .country-select {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: unset;
}
.settings .country-select div {
    margin-left: unset;
    display: flex;
    width: 100%;
}
.settings .country-select label {
    width: 100%;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 24px;
    padding:15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background:rgba(80,80,80, 0.8);
    margin-top:10px;
    border:rgba(255,255,255,0.1) solid 2px;
    cursor: pointer;
    transition: 120ms;
    font-weight: 700;
}
.settings .country-select label:hover {
    transform: scale(1.02);
}
.settings .country-select label:active {
    transform: scale(0.9);
    filter: brightness(0.8);
    font-weight: 800;
}
.settings-row {
    margin-top: 15px;
    width: 100% !important;
    margin-left: unset !important;
}
.settings-row button:nth-child(1) {
    width: 100%;
}
.settings-row button {
    background:rgba(80,80,80, 0.8);
    border:rgba(255,255,255,0.1) solid 2px;
    margin-right: 5px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.settings-row button i {
    margin-right: 0;
}
input:checked + label.country {
    background:var(--accent);
    border:rgba(255,255,255,0.2) solid 4px;
    padding:13px;
    font-weight: 900;
}
input:checked + label.country::before {
    content: "ï€Œ";/* fa-solid fa-check */
    font-family: var(--fa-family,var(--fa-style-family,"Font Awesome 7 Free"));
    margin-right: 10px;
}
@media only screen and (max-width: 580px) {
    .map {
        opacity: 1;
        height: unset;
        aspect-ratio: 1/1;
        width: calc(100vw - 220px);
        transition: 0ms;
        transition-delay: none;
    }
    .map:hover,.map-container.unload .map {
        aspect-ratio: unset;
        width: calc(100vw - 10px);
        height: 40dvh;;
        z-index: 2;
    }
    .map-container {
        right:5px;
        bottom:5px
    }
    .map-container button {
        width: 100%;
    }
    .options-bottom {
        left:5px;
        bottom:5px
    }
    button.info {
        display: none;
    }
    button.finish {
        height: 62px;
    }
    iframe.streetview {
        margin-left: -150px;
        width: calc(100vw + 150px);
    }
    .stats-right,.stats-left {
        height: 70px;
        width: 50vw;
        border-radius: 0px;
        border: none;
    }
    .stats-right:hover,.stats-left:hover,.stats-right:active,.stats-left:active {
        transform: scale(1);
        top: 0;
        filter:none;
    }
    .stats-left {
        border-bottom-left-radius: 15px;
    }
    .stats-right {
        border-bottom-right-radius: 15px;
    }
    .stats-left:hover,.stats-left:active {
        left:0;
    }
    .stats-right:hover,.stats-right:active {
        right: 0;
    }
    .stats-left .descr, .stats-right .descr, .stats-left:hover .descr, .stats-right:hover .descr {
        margin-top:3px;
        font-size: 14px;
        opacity: 1;
    }
    button.respawn {
        display: none;
    }
    .options-bottom button {
        padding:10px;
    }
    .solution-stats {
        margin-bottom:35px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .next-btn {
        right:unset;
        left: 0;
        width: 100%;
        bottom:0;
        border-radius: 0;
        box-shadow: none;
        border:none;
    }
    .msg {
        width: calc(100vw - 85px);
    }
    .settings .msg {
        width: 100vw;
    }
    .round-count {
        z-index: 54;
        top: 80px;
    }
} 
